@use "./variable" as v;

// メディアクエリ
@mixin mq($breakpoint: md) {
  @media #{map-get(v.$breakpoints, $breakpoint)} {
    @content;
  }
}

// lineHeightの上下の余白を消す
@mixin lineHeightFilter($line-height) {
  &::before,
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
  }
  &::before {
    margin-top: calc((1 - #{$line-height}) * 0.5em); //文字上の余白を消す
  }
  &::after {
    margin-bottom: calc((1 - #{$line-height}) * 0.5em); //文字下の余白を消す
  }
}
