/*
  * Reset CSS
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* list Remove default style */
ul,
ol {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd,
main {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizespeed;
  line-height: 1.5;
  width: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
  margin-top: 1em;
}

/* フォームリセット */
input,
button,
textarea,
select {
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
}

/* stylelint-disable */
textarea {
  resize: vertical;
}

/* stylelint-enable */

input[type="radio"] {
  visibility: hidden;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal
}